<template>
  <article class="message">
  
    <div class="message-header">
      {{title}}
    </div>  
    
    <div class="message-body">
        {{body}}
    </div>
  </article>
</template>
  
<script >

  export default {

    props: ['title', 'body']

  }

</script>

<style >
  article {
    display: inline-grid;
  }

  .message-header{
    text-align: center;
  }
</style>