<template>
	<div v-show="isActive"><slot></slot></div>
</template>

<script type="text/javascript">

	export default {
		props: {
			name: { required: true }
		},


		computed: {
			href(){
				return '#' + this.name.toLowerCase().replace(/ /g, '-');
			}
		},


		data(){
			return {
				isActive: false	
			}
		},

		mounted() {
			this.isActive = (this.name == 'Home')
		},	
	}
	
</script>

<style type="text/css">
	
</style>