<template>
  
  <div id="app">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">  

    <tabs id="tabs">
        <tab name="Home"> 
          <img src="./assets/logo.png">
          <message title="Vue" body="Hello Vue.js App"></message>
          <modal v-show="showModal" @close="showModal=false">
            This is a simple modal Vue.js
          </modal>

          <div class="buttons">
            <button class="button is-primary" @click="showModal=true"> 
              Show Modal
            </button>
          </div>
        </tab>

        <tab name="About Us"> 
          <message title= "About us" body="Here is the content for the about us."></message>
        </tab>

        <tab name="About Our Culture">
          
          <message title="Culture" body="Here is the content for the about our culture."></message>   
        </tab>

        <tab name="About Our Vision">
          <message title= "Vision" body="Here is the content for the about our vision."></message> 
        </tab>
      </tabs>
  </div>
</template>

<script>

  import Message from  './componentes/Message.vue';
  import Modal from './componentes/Modal.vue';
  import Tabs from './componentes/Tabs.vue';
  import Tab from './componentes/Tab.vue'; 

  export default {

    name: 'app',
    components: {Message, Tabs, Tab, Modal},

    data(){
      return{
        showModal: false
      }
    }
  }

</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  #tabs {
    display: inline-grid;
  }

  .button {
    margin: auto;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
